* {
  -webkit-box-sizing: border-box;
}
body,
html {
  margin: 0;
}
body {
  font: 17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  font-size: 1.6em;
  margin-top: 0;
}
.footer_divider {
  border-right: 1px dashed !important;
  padding-right: 5px;
}

a {
  color: rgb(73, 86, 120) !important;
  text-decoration: none !important;
}
a:hover {
  color: rgb(15,132,138)!important;
}

h2 {
  margin-top: 44px;
  font-size: 1.3em;
}

h3 {
  color: rgb(73, 86, 120) !important;
  margin-top: 44px;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 15px;
}

section {
  margin: 0 5.555555555555555%;
}

p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
}

a {
  color: #33a0c0;
}

code {
  font-family: monospace;
  font-size: 1.1em;
}

pre {
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px;
  font-family: monospace;
  overflow-x: auto;
}

.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapperTop {
  /* width: 90%; */
  /* margin: 0 auto; */
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-auto-rows: auto;
  /* grid-gap: 6px; */
}

.leftColumn {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  width: 100%;
}
.rightColumn {
  /* grid-column-start: 1;
  grid-column-end: 6; */
  width: 100%;
}

.banner {
  text-align: right;
  color: rgb(84, 129, 184) !important;
}

hr {
  background-color: rgb(73, 86, 120) !important;
  color: rgb(84, 129, 184) !important;
  border: none;
  height: 2px !important;
  width: 100% !important;
}

#blocks {
  position: relative;
  display: inline;
  overflow: hidden;
}

.date {
  position: absolute;
  bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  color: dimgrey;
  /*display: none;*/
}
.date2 {
  font-weight: bold;
  color: dimgrey;
  margin-top: 5px;
  /*display: none;*/
}
.date3 {
  font-weight: bold;
  color: dimgrey;
  /*display: none;*/
}

.newsText {
  position: absolute;
  top: 0;
}

#header_logo {
  display: block;
  position: absolute;
  top: 0px;
  left: 50px !important;
  align-item: center;
  text-align: center !important;
  width: 100% !important;
  justify-content: space-around;
}
.container-fluid {
  max-width: 100em !important;
}
#header_menu_blue {
  background-color: rgb(73, 86, 120);
  height: 60px;
  padding-top: 18px;
  color: white;
}
#footer_menu_blue {
  background-color: rgb(73, 86, 120);
  height: 60px;
  padding-top: 18px;
  color: white;
  text-align: center;
}
	
	a.nav-link {
		color:white!important;
		padding:1rem!important;
	}
	a.nav-link:hover {
 		background-color:rgb(15,132,138);
	}
	a.static_link{
	  color: #495678!important;
	  background-color:white!important;
	  	/*padding:1rem!important;*/
	}
	
	a.card-title.sectionHeadings{
	  font-size:  2vw; font-weight: 600; 
	}
.bitTitle {
  font-size: 50px;
}

.nomargin {
  margin: 0 !important;
  padding: 0 !important;
}
.nomargin2 {
  position: sticky;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.right-column {
  display: table-column;
  height: auto;
  float: right;
  width: 20%;
}
.left-column {
  display: table-column;
  height: auto;
  float: left;
  width: 99%;
}
.hundredWidth {
  width: 100%;
}
.bigNews {
  overflow: hidden;
  height: 27vh;
}
.font800 {
  font-weight: 800;
}

.randomSix:nth-child(-n + 3) {
  color: navy;
}

#russian {
  display: none;
}
#english {
  display: none;
}
#azerbaijan {
  display: none;
}

 	.date3 {
    	font-size:0.9vw;
    }
	h4 {
		font-size:1.4vw!important;
	}
	nav {
		background: #495678!important;
	}
	li.nav-item {
		color:white!important;
	}
 
	
	nav.navbar {padding: 0!important;}
	
	.topic_header {
		font-size: 1.3vw;
		color:white;
		font-weight: 600;
		width: 25%;
		padding:5px;
		background-color: #495678;
		text-align:center;
	}
	p.topic_header:hover{
	 	background-color:rgb(15,132,138);
	}
		
	div#dotted3{
	  position:relative;
	  border-right: none!important;
	}
	div.static_row{
	   padding-left: 0!important;
	   padding-right: 0!important;
	  margin-right: 0!important;
	  margin-left: 0!important;
	}
@media screen and (max-width: 768px) {
  .rightColumn {
    display: none;
  }
  .wrapperTop {
    width: 100%;
    /* margin: 0 auto; */
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: 12fr;
    grid-auto-rows: auto;
    /* grid-gap: 6px; */
  }
}
@media screen and (min-width: 40em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 45em) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-width: 55.5em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 61.5em) {
  body {
    font-size: 1em;
  }
  section {
    margin: 0 16.666666666666664%;
  }
}

@media screen and (min-width: 75em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 87em) {
  body {
    font-size: 1em;
  }
  section {
    margin: 0 27.77777777777778%;
  }
}

@media screen and (min-width: 105em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 117em) {
  section {
    margin: 0 5.555555555555555%;
  }
  section .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 120em) {
  body {
    font-size: 1.125em;
    max-width: 160em;
  }
}


@media all and (max-width: 599px) and (min-width: 320px) {
	    h4 {
	        font-size: 3vw !important;
	    }
	    .date3 {
		    font-size:2vw;
		}
		.topic_header  {
		    font-size:2vw;
		}
	}
div.container-fluid {
  padding-left: 5em !important;
  padding-right: 5em !important;
}

div.randomSix2a {
  border-bottom: 1px dotted navy;
  margin-bottom: 0 !important;
}
div.randomSix0 {
  border-bottom: 1px dotted navy;
  margin-bottom: 0 !important;
}
.randomSix1 {
  border-bottom: 1px dotted navy;
  margin-bottom: 0 !important;
}

img.rounded {
  margin-bottom: 10px !important;
}

.card-title {
  font-weight: 600 !important;
}

div.right-margin {
  margin-right: 11vh;
}
