* {
  -webkit-box-sizing: border-box;
}
body,
html {
  margin: 0;
}
body {
  font: 17px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1 {
  font-size: 1.6em;
  margin-top: 0;
}
.footer_divider {
  border-right: dashed !important;
  padding-right: 5px;
}

a {
  color: rgb(73, 86, 120) !important;
}

h2 {
  margin-top: 44px;
  font-size: 1.3em;
}

h3 {
  color: rgb(73, 86, 120) !important;
  margin-top: 44px;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 15px;
}

section {
  margin: 0 5.555555555555555%;
}

p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
}

a {
  color: #33a0c0;
}

code {
  font-family: monospace;
  font-size: 1.1em;
}

pre {
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px;
  font-family: monospace;
  overflow-x: auto;
}

.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.banner {
  text-align: right;
  color: rgb(84, 129, 184) !important;
}

hr {
  background-color: rgb(73, 86, 120) !important;
  color: rgb(84, 129, 184) !important;
  border: none;
  height: 5px !important;
  width: 100% !important;
}

#blocks {
  position: relative;
  display: inline;
  overflow: hidden;
}

.date {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  color: dimgrey;
  /*display: none;*/
}
.date2 {
  font-weight: bold;
  color: dimgrey;
  display: none;
}

.newsText {
  position: absolute;
  top: 0;
}

#header_logo {
  display: block;
  position: absolute;
  top: 0px;
  left: 50px !important;
  align-item: center;
  text-align: center !important;
  width: 100% !important;
  justify-content: space-around;
}
.container-fluid {
  max-width: 100em !important;
}
#header_menu_blue {
  background-color: rgb(73, 86, 120);
  height: 28px;
  color: white;
}
#footer_menu_blue
{
  background-color: rgb(73, 86, 120);
  height: 42px;
  color: white;
  text-align: center;
}

.bitTitle {
  font-size: 50px;
}

.nomargin {
  margin: 0 !important;
  padding: 0 !important;
}
.right-column {
  display: table-column;
  height: auto;
  float: right;
  width: 20%;
}
.left-column {
  display: table-column;
  height: auto;
  float: left;
  width: 79%;
}
.hundredWidth {
  width: 100%;
}
.bigNews {
  overflow: hidden;
  height: 27vh;
}

@media screen and (min-width: 40em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 45em) {
  body {
    font-size: 1em;
  }
}

@media screen and (min-width: 55.5em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 61.5em) {
  body {
    font-size: 1em;
  }
  section {
    margin: 0 16.666666666666664%;
  }
}

@media screen and (min-width: 75em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 87em) {
  body {
    font-size: 1em;
  }
  section {
    margin: 0 27.77777777777778%;
  }
}

@media screen and (min-width: 105em) {
  body {
    font-size: 1.0625em;
  }
}

@media screen and (min-width: 117em) {
  section {
    margin: 0 5.555555555555555%;
  }
  section .wrapper {
    width: 37.5%;
    margin-left: 25%;
  }
}

@media screen and (min-width: 130em) {
  body {
    font-size: 1.125em;
    max-width: 160em;
  }
}
